div {
  background-image: linear-gradient(#de3a4a, #761f27);
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 130px;
  color: #ffffff;
  font-family: "Comforter", cursive;
  margin: 0;
}
.headerbox {
  length: 100%;
  height: 30%;
  background-color: #5e0f22;
  margin: 0;
}
h2 {
  margin: 0;
}
